* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
  background-image: linear-gradient(
    130deg,
    rgb(129, 241, 129),
    rgb(128, 172, 229),
    rgb(142, 75, 230),
    rgb(223, 61, 201),
    orange
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
body * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
header {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0 3rem 0;
    padding: 1rem;
    color: rgb(238, 0, 247);
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #a400f0, 1px 3px 1px #a400f0,
      1px 4px 1px #a400f0, 1px 5px 1px #a400f0, 1px 6px 1px #a400f0,
      1px 7px 1px #a400f0, 1px 8px 1px #a400f0, 1px 9px 1px #a400f0,
      1px 10px 1px #a400f0, 1px 18px 6px rgb(255, 255, 255),
      1px 22px 10px rgb(250, 248, 248), 1px 25px 35px rgb(245, 238, 238),
      1px 30px 60px rgb(255, 255, 255);
    border-radius: 3rem;
  }
  h1 {
    font-size: 15rem;
  }
}
main {
  .small-title {
    margin: 2rem 0 3rem 0;
    color: rgb(1, 252, 252);
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #a400f0, 1px 3px 1px #a400f0,
      1px 4px 1px #a400f0, 1px 5px 1px #a400f0, 1px 6px 1px #a400f0,
      1px 7px 1px #a400f0, 1px 8px 1px #a400f0, 1px 9px 1px #a400f0,
      1px 10px 1px #a400f0, 1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(255, 255, 255) 0px 54px 55px,
      rgb(255, 255, 255) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(255, 254, 254, 0.616) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3rem;
  }
  h2 {
    font-size: 7rem;
    padding: 1rem 1rem 3rem 1rem;
  }
  .cows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .normalCowImgs,
  .crazyCowImgs {
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
  }
  img {
    border-radius: 4rem;
    max-width: 30rem;
    margin: 2rem 4rem;
    border: outset 1rem rgb(248, 232, 12);
  }
  img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: rgb(0, 255, 0) solid 0.8rem;
    transition: 1s;
    cursor: pointer;
  }
}
.footer-div {
  strong {
    margin-left: 0.3rem;
  }
  p {
    font-size: x-large;
    color: rgb(252, 235, 214);
    border-radius: 1rem;
    padding: 1rem;
  }
  p:hover {
    font-size: xx-large;
    transition: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

@media (max-width: 1177px) {
  html,
  body {
    overflow-x: hidden;
  }
  .title,
  .small-title {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 60%;
    overflow-x: hidden !important;
  }
  .title {
    max-width: 80% !important;
  }

  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 5rem;
  }
  .cows {
    flex-direction: column;
    align-items: center;
  }
  .normalCowImgs,
  .crazyCowImgs {
    width: 90%;
    max-width: none;
  }
}
@media (max-width: 780px) {
  html,
  body {
    overflow-x: hidden;
  }
  .title,
  .small-title {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 60%;
    overflow-x: hidden;
  }
  .title {
    max-width: 80%;
  }
  h1 {
    font-size: 10rem !important;
  }
  h2 {
    font-size: 5rem;
  }
  .cows {
    flex-direction: column;
    align-items: center;
  }
  .normalCowImgs,
  .crazyCowImgs {
    width: 90%;
    max-width: none;
  }
}
@media (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
  }
  .title,
  .small-title {
    transform: scale(1.2);

    max-width: 100%;
  }
  .title {
    max-width: 90%;
  }
  h1 {
    font-size: 6rem !important;
  }
  h2 {
    font-size: 4rem !important;
  }
  .cows {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .normalCowImgs img,
  .crazyCowImgs img {
    transform: scale(1.1);
    width: 100%;
  }
}
